<div class="toast-container position-fixed" id="message-box">
	<div class="toast align-items-center border-0" role="alert" aria-live="assertive" aria-atomic="true">
		<div class="d-flex">
			<div class="toast-body" class="h2">
				<p class="lead p-1 m-0 user-select-none" id="message-text"></p>
			</div>
			<button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast"
				aria-label="Fechar"></button>
		</div>
	</div>
</div>

<div class="confirm-container position-fixed w-100 h-100">
	<div class="confirm position-absolute top-50 start-50 translate-middle">
		<div class="card">
			<div class="card-header">
				<h5 class="message-title">Foo bar lorem ipsum.</h5>
			</div>
			<div class="card-body">

			</div>
			<div class="card-footer">
				<button class="btn btn-primary" data-btn="true">Confirmar</button>
				<button class="btn" data-btn="false">Cancelar</button>
			</div>
		</div>
	</div>
</div>